<footer class="site-footer">
    <div class="container">
        <img class="site-footer__mark reveal reveal--scale" src="@Assets["images/smile.svg"]" alt="Arrieta Agency" />

        <div class="site-footer__cols reveal d1">
            <div class="footer-col">
                <p class="h">Correo</p>
                <a class="v" href="mailto:agenciarrieta@gmail.com">
                    <img src="@Assets["images/icon-mail.svg"]" alt="" />
                    <span>agenciarrieta@gmail.com</span>
                </a>
            </div>
            <div class="footer-col">
                <p class="h">Instagram</p>
                <a class="v" href="https://instagram.com/arrietagency" target="_blank" rel="noopener">
                    <img src="@Assets["images/icon-instagram.svg"]" alt="" />
                    <span>@@arrietagency</span>
                </a>
            </div>
            <div class="footer-col">
                <p class="h">Contacto Venezuela</p>
                <a class="v" href="tel:+584246172813">
                    <img class="flag" src="@Assets["images/flag-ve.svg"]" alt="" />
                    <span>+58 4246172813</span>
                </a>
            </div>
            <div class="footer-col">
                <p class="h">Contacto Colombia</p>
                <a class="v" href="tel:+583002414506">
                    <img class="flag" src="@Assets["images/flag-co.svg"]" alt="" />
                    <span>+57 3002414506</span>
                </a>
            </div>
        </div>

        <p class="site-footer__copy">© Arrieta Agency, 2025</p>
    </div>
</footer>
